*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {

    width: 100%;
}

.img-banner {

    display: none;
}

.img-banner2 {

    display: block;
    width:100%;
    padding-bottom: 55px;
}


.img-info {

    width: 100%;

}

.img-info h2 {

padding: 30px 30px 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
line-height: 25px;

color: black;


}

.img-info p {

    padding: 0px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    
    
    }


    .img-me {

        width: 100%;
    }



    .testimonal{

        padding-top: 50px;
    }    



.pro2{
    color:blue;
}
    


#heading{

    font-size: 50px;
}









    @media only screen and (min-width: 768px) {


        .img-banner {

            display: block;
            width: 100%;
            padding-bottom: 30px;

    }

.img-banner2 {

    display: none;
    width:100%;
    padding-bottom: 55px;

    
}



.wrapper {

    width: 600px;
    margin: 0 auto;
}

.img-info h2 {

    padding: 20px 0px 0px;
   

    }


    
    .img-info p {
    
        padding: 20px 0px 0px;
        
        
        }

        .img-me {

            padding-top: 30px;
        }


        .bottom-container {
            background-color: whitesmoke;
            padding: 50px 0 20px;
            margin: 10px;
            padding-top: 200px;
            
          }
          
          .copyright {
          
            font-size: 33px;
            text-align: center;
          }
    }

    


    @media only screen and (min-width: 1000px) {



        .wrapper {

            width: 1000px;
        }
        
    .img-info {

        width: 100%;
        float: right;


}


.img-me{

display: block;}
    

    }


    .bottom-container {
        background-color: whitesmoke;
        padding: 50px 0 20px;
        margin: 10px;
        padding-top: 200px;
        
      }
      
      .copyright {
      
        font-size: 33px;
        text-align: center;
      }
    



